.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}
.App.dark{
  background-color: #242424;
  color: aliceblue;
}
.App.pink{
  background-color: pink;
  color: aliceblue;
}
.App.light{
  background-color: #fff;
  color: black;
}